div.top_center
    div.center#logo_container
        img.img-responsive#big_logo(src="/static/images/StopLogo_300x300.png")
        form
            div.form-group
                input.form-control#username( placeholder="Username")
            button.btn.btn-primary.btn-block#go_btn(onclick="fade_out()") Go