div.container.center(width="600px")
    div.input-group.center#logo_container
        img.img-rounded#big_logo(src="/static/images/StopLogo_300x300.png")

        div.input-group.input-group-lg.center
            span.input-group-addon#addon
                img.img-circle#green_dot(src="/static/images/green_dot.png")

            input.form-control#username(aria-describedby="addon", placeholde="Username")