//
   Created by benjamin on 09-15-15.
doctype html
html(lang='en')
   head
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport"             , content="width=device-width, initial-scale=1")
      meta(name="description"          , content="")
      meta(name="author"               , content="christian.velez5@upr.edu")
      title= head_title
      link( href="/static/css/bootstrap.css",     rel="stylesheet")
      link( href="/static/css/simple-sidebar.css" rel="stylesheet")
      link( href="/static/css/first_page.css"     rel="stylesheet")
      script(src="/static/js /html5shiv.js")
      script(src="/static/js /respond.min.js")

   body
      div.container
         div.text-center.container#logo_container
            img.img-circle#big_logo(src="/static/images/StopLogo_300x300.png")
         div.text-center.container
            div.input-group
               label Username
               input.form-control#usernamegit
            div.input-group
               label Language
               select

   //img.img-respons.img-circle#main_logo(src="/static/images/StopLogo_300x300.png")