div.center
    div.container.center#logo_container
        img.center.img-responsive#big_logo(src="/static/images/StopLogo_300x300.png")
        form
            div.form-group.form-group-lg#center_container
                input.form-control#username( placeholder="Username")
            button.btn.btn-primary.btn-block#go_btn(onclick="fade_out()") Go

    script.
        var fade_out = function() {
            $("#center_container").fadeOut("slow");
        };