extends top_layout


block js_afterload
    script.
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        $(".switch").bootstrapSwitch();

block sidebar
    ul.sidebar-nav
        li.sidebar-brand
            a(href="/") Stop

        li.sidebar-item
            div
                label Ready
                    input(type="checkbox", style="margin-left: 20px")

        li.sidebar-item
            div Ressign

block content
    .container-fluid
        .row
            .col-lg-12
                h1 Simple Sidebar
                button(class="btn btn-default", id="menu-toggle") Toggle Menu