ul.sidebar-nav
    li.sidebar-brand
        img(src="/static/images/StopLogo_100x100.png")
    li.sidebar-item
        div
            label Ready
                input(type="checkbox", style="margin-left: 20px")
    li.sidebar-item
        div Ressign