doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="")
        meta(name="author", content="christian.velez5@upr.edu")

        title Simple Sidebar - Start Bootstrap Template

        link(href="/static/css/bootstrap.css", rel="stylesheet")
        link(href="/static/css/simple-sidebar.css" rel="stylesheet")
        script(src="/static/js/html5shiv.js")
        script(src="/static/js/respond.min.js")

    body
        #wrapper
            #sidebar-wrapper
                ul(class="sidebar-nav")
                    li(class="sidebar-brand")
                        a(href="/stop") Stop
                    li
                        a(href="#") Dashboard
                    li
                        a(href="#") Shortcuts

            #page-content-wrapper
                .container-fluid
                    .row
                        .col-lg-12
                            h1 Simple Sidebar
                            button(class="btn btn-default", id="menu-toggle") Toggle Menu

        script(src="/static/js/jquery.min.js")
        script(src="/static/js/bootstrap.min.js")
        script.
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });