.center{
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #28342f;
}

p {
    color: #FFFFFF;
}

#games_box {
    display: none;
}


#go_btn {
    margin-top: auto;
    margin-bottom: auto;
}