/*
Error: Inconsistent indentation: 15 spaces were used for indentation, but the rest of the document was indented using 2 spaces.
        on line 18 of first-page.sass

13:   margin-right: auto
14:   width: 300px
15: 
16: body
17:   background-color: #F8F8F8
18:                /*   #28342f   *\/
19: 
20: p
21:   color: #FFFFFF

Backtrace:
first-page.sass:18
/var/lib/gems/2.1.0/gems/sass-3.4.18/lib/sass/engine.rb:483:in `block in tabulate'
/var/lib/gems/2.1.0/gems/sass-3.4.18/lib/sass/engine.rb:441:in `each'
/var/lib/gems/2.1.0/gems/sass-3.4.18/lib/sass/engine.rb:441:in `each_with_index'
/var/lib/gems/2.1.0/gems/sass-3.4.18/lib/sass/engine.rb:441:in `tabulate'
/var/lib/gems/2.1.0/gems/sass-3.4.18/lib/sass/engine.rb:406:in `_to_tree'
/var/lib/gems/2.1.0/gems/sass-3.4.18/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/var/lib/gems/2.1.0/gems/sass-3.4.18/lib/sass/engine.rb:295:in `render_with_sourcemap'
/var/lib/gems/2.1.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/var/lib/gems/2.1.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/2.1.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/2.1.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/2.1.0/gems/sass-3.4.18/lib/sass/plugin.rb:82:in `update_stylesheets'
/var/lib/gems/2.1.0/gems/sass-3.4.18/lib/sass/exec/sass_scss.rb:364:in `watch_or_update'
/var/lib/gems/2.1.0/gems/sass-3.4.18/lib/sass/exec/sass_scss.rb:51:in `process_result'
/var/lib/gems/2.1.0/gems/sass-3.4.18/lib/sass/exec/base.rb:52:in `parse'
/var/lib/gems/2.1.0/gems/sass-3.4.18/lib/sass/exec/base.rb:19:in `parse!'
/var/lib/gems/2.1.0/gems/sass-3.4.18/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: 15 spaces were used for indentation, but the rest of the document was indented using 2 spaces.\A         on line 18 of first-page.sass\A \A 13:   margin-right: auto\A 14:   width: 300px\A 15: \A 16: body\A 17:   background-color: #F8F8F8\A 18:                /*   #28342f   */\A 19: \A 20: p\A 21:   color: #FFFFFF"; }
